<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blast RNA extension</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'style.css' %}
{% include 'script.html' %}
    </head>
<body>
    <div class="page-wrap">
        <div class="header">
            <h2>Blast expansion</h2>
        </div>
        {% block content %}{% endblock %}
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
        <div class="button-background"></div>
        <div class="controls">
            <button onclick="selectAllseqs(this)" id="selectSeqsBtn" title="Select All Sequences">Select all Seqs.</button>
            <button onclick="selectAllstrs(this)" id="selectStrsBtn" title="Select All Structures">Select all Structs.</button>
            <button onclick="writeSelectionStructures()" id="exportStrBtn" title="Export Selected Structures">Export sel. Structs.</button>
            <button onclick="writeSelectionFasta()" id="exportSeqsBtn" title="Export Selected Sequences">Export sel. Seqs.</button>
        </div>
    </div>
</body>
</html>
