<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RNA BLAST Analyze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'style.css' %}
{% include 'script.js' %}
{% block script %}{% endblock %}
    </head>
<body>
    <div id="waitoverlay">
        <h2 id="waittext">Please wait while sequence viewer is loading...</h2>
        <div id="progressbar_wrap">
            <div id="progressbar_fill"></div>
        </div>
    </div>
    <div class="page-wrap">
        <div class="header">
            <!--<div id="headergrad"></div>-->
            <h1>rboAnalyzer report</h1>
            {% block header %}{% endblock %}
        </div>
        <div class="hits">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
        <div class="controls">
            {% block controls %}{% endblock %}
        </div>
    </div>
</body>
</html>
