{% extends "base.html" %}
{% block script %}
    {% if show_gene_browser %}
    <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/sviewer/js/sviewer.js"></script>
    {% endif %}
{% endblock %}

{% block header %}
<div>
<pre>BLAST output file:   {{hea.input}}
Query sequence file: {{hea.query}}
{% if hea.best_matching_model %}
RFAM model with best score to a query sequence   <div class="tooltip"><span class="inf">?</span><pre class="tooltiptext">Infered from query sequence by cmscan program.</pre></div>
Family name: {{hea.best_matching_model['target_name']}}
E-value:     {{hea.best_matching_model['E-value']}}{% endif %}
</pre>
</div>

{% endblock %}

{% block content %}
    {% macro create_onehit(data) %}
    <div class="onehit"
         id="{{data.intid}}onehit"
         {% if data.get("seqname", False) %}
            data-brna_sequence="{{data.sequence}}"
            data-brna_seqname="{{data.seqname}}"
         {% endif %}
         data-eval="{{data.eval}}">
        <h3 class="onehit_heading" style="background:{{data.h_color}};">
            Hit: {{data.source_seq_name}}
        </h3>
        <div class="onehit_body">
            <div class="row reports">
                <div class="blast_text repitem">
                    <p class="header-bhname">{{data.blast_hit_name}}</p>
                    <pre class="blasttext">
                        <div class="tooltip blasttooltip">
<b class="inf">?</b><pre class="tooltiptext">
This is BLAST alignment as read from the input file</pre>
                        </div>
{{data.blast_text}}</pre>
                </div>
                {% if data.get("rsearchbitscore", False) %}
                <div class="repitem">
                    <label class="repheader"><u>Report:</u></label>
                    <table>
                        <tr>
                            <th class="left" scope="row">sequence start
                                <div class="tooltip"><sup><span class="inf">?</span></sup>
                                    <pre class="tooltiptext">
Start position of the estimated full-length sequence in genome.
Start index < end index.</pre>
                                </div>:
                            </th>
                            <td class="right" id="{{data.intid}}SeqStart">{{data.ext_start}}</td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">sequence end
                                <div class="tooltip"><sup><span class="inf">?</span></sup>
                                    <pre class="tooltiptext">
End position of the estimated full-length sequence in genome.
Start index < end index.</pre>
                                </div>:
                            </th>
                            <td class="right" id="{{data.intid}}SeqEnd">{{data.ext_end}}</td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">bit score (CM)
                                <div class="tooltip"><sup><span class="inf">?</span></sup>
                                    <pre class="tooltiptext">
The score for aligning estimated full-length sequence to CM model
  (computed by RSEARCH -> default,
  infered from Rfam or provided by user)</pre>
                                </div>:
                            </th>
                            <td class="right">{{data.rsearchbitscore}}</td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">Homology estimate
                                <div class="tooltip"><sup><span class="inf">?</span></sup>
                                    <pre class="tooltiptext">
Quick homology estimate:
  Not homologous: bit score < 0
  Homologous: bit score > 20 and bit score > 0.5 * query length
  Uncertain otherwise</pre>
                                </div>:
                            </th>
                            <td class="rigth">{{data.h_estimate}}</td>
                        </tr>
                    </table>
                    {% if data.get("h_estimate", "") == "Uncertain" %}
                    <div style="text-align:center;">⬇</div>
                    <div style="max-width:300px;text-align:justify;">
                        Check the <u>secondary structure</u> and <u>sequence viewer</u>
                        for supporting information about possible homology.
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% if data.get("formated_seq", False) %}
                <div class="repitem">
                    <div>
                        <label for="{{data.intid}}SeqCheck" class="repheader"><u>Estimated full-length sequence:</u></label>
                        <input type="checkbox" class="individualSequenceCheckbox" id="{{data.intid}}SeqCheck">
                        <div class="tooltip repheader"><span class="inf">?</span>
                            <pre class="tooltiptext">
Click checkbox to select multiple seuqences.
Fasta header format:
  UID|accession.versionSTRAND start-end</pre>
                        </div>
                    </div>
                    <textarea id="{{data.intid}}FormSeq" readonly="true" rows="5" cols="65">{{data.formated_seq}}</textarea>
                </div>
                {% endif %}
            </div>
            {% if data.get("pictures", False) %}
            <div class="row">
                {% for pic in data.pictures %}
                    <figure class="column" data-brna_secondary_structure="{{pic.secondary_structure}}" id="{{data.intid}}{{pic.picname}}">
                        <img class="rnapic" src="{{pic.pic}}" />
                        <figcaption>
                            <label class="repheader">{{pic.picname}}</label>
                            <input type="checkbox" class="individualStructureCheckbox" id="{{data.intid}}{{data.picname}}StrCheck" data-method="{{pic.picname}}">
                            <div class="tooltip repheader"><span class="inf">?</span>
                                <pre class="tooltiptext">
Visualisation of predicted secondary structure.
To save the image:
  Right click on the image -> Save Image as.</pre>
                            </div>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
            {% endif %}

        {% if show_gene_browser %}
            <div id="sv{{data.intid}}" data-sv_params="{{ data.seqviewurl | safe }}" class="sv">
                <button class= "seqviewbtn" onclick="viewRegion(this)" title="View selected Regions">Load Sequence viewer</button>
            </div>
        {% else %}
            <a class="small_font" target="_blank" rel="noopener noreferrer" href="{{ data.seqviewlink }}">link to genome</a>
        {% endif %}
        {% if len(data.msgs) != 0 %}
            <div class="warnmsgs">
                <p class="warn small_font">
                {% for msg in data.msgs %}
                   {{msg}}<br>
                {% endfor %}
                </p>
            </div>
        {% endif %}
        </div>
    </div>
    {% endmacro %}

{% for ii in input_list %}
    {{ create_onehit(ii) }}
{% endfor %}
{% endblock %}

{% block footer %}
<h3 class="onehit_heading">
    {% if len(foo.logdup) != 0 %}
        Command, parameters and program log
    {% else %}
        Command and parameters
    {% endif %}
</h3>
<div class="footerwrap small_font">
    <p class="header-command"><u>executed command:</u></p>
    <textarea readonly="true" rows="3" cols="65">{{foo.command}}</textarea>
    <p>
        <u>date:</u>
        {% if foo.exec_date %}
            {{strftime("%H:%M:%S %d. %m. %Y", foo.exec_date)}}
        {% else %}
            Unknown date.
        {% endif %}
    </p>
    <div>
        {% if len(foo.logdup) != 0 %}
            <p><u>program log:</u></p>
            {% for s in foo.logdup %}
                <p class="warn small_font">
                {% set texts = s.split('\n') %}
                {% for t in texts %}
                    {{t}}<br>
                {% endfor %}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <pre><u>parameters:</u>
{% for par in foo.parameters %}
    <u>{{par[0]}}:</u> {{par[1]}}
{% endfor %}
    </pre>
</div>
<div class="bottom-space"></div>
{% endblock %}

{% block controls %}
<button onclick="selectAllseqs(this)" id="selectSeqsBtn" title="Select All Sequences">Select all Seqs.</button>
<button onclick="selectAllstrs(this)" id="selectStrsBtn" title="Select All Structures">Select all Structs.</button>
<button onclick="writeSelectionFasta()" id="exportSeqsBtn" title="Export Selected Sequences">Export Sequences</button>
<button onclick="writeSelectionStructures()" id="exportStrBtn" title="Export Selected Structures">Export Structures</button>
<button onclick="sortByEval(this)" id="sortEvalBtn" title="Sort by e-value">Sort Eval desc.</button>
{% if show_gene_browser %}
<button onclick="viewAllRegions()" id="viewAllRegionsBtn" title="View all Regions">View all Regions</button>
{% endif %}
{% endblock %}