{% extends "base.html" %}
{% block header %}
<p>pipeline output for {{hea.input}}</p>
{% endblock %}
{% block content %}
    {% macro create_onehit(data) %}
    <div class="onehit"
         id="{{data.intid}}onehit"
         data-brna_sequence="{{data.sequence}}"
         data-brna_seqname="{{data.seqname}}"
         data-eval="{{data.eval}}">
        <h3 class="onehit_heading" style="background:{{data.h_color}};">
            Hit: {{data.source_seq_name}}
        </h3>
        <div class="onehit_body">
            <div class="row reports">
                <div class="blast_text repitem">
                    <p class="header-bhname">{{data.blast_hit_name}}</p>
                    <pre>
{{data.blast_text}}</pre>
                </div>
                <div class="repitem">
                    <p><u>Extension report:</u></p>
                    <table>
                        <tr>
                            <th class="left" scope="row">sequence start:</th>
                            <td class="right" id="{{data.intid}}SeqStart">{{data.ext_start}}</td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">sequence end:</th>
                            <td class="right" id="{{data.intid}}SeqEnd">{{data.ext_end}}</td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">RSEARCH bits score:</th>
                            <td class="right">{{data.rsearchbitscore}}</td>
                        </tr>
                        <tr>
                            <th class="left" scope="row">Homology estimate:</th>
                            <td class="rigth">{{data.h_estimate}}</td>
                        </tr>
                    </table>
                </div>
                <div class="repitem">
                    <div>
                        <label for="{{data.intid}}SeqCheck"><u>Extended sequence fasta:</u></label>
                        <input type="checkbox" class="individualSequenceCheckbox" id="{{data.intid}}SeqCheck">
                    </div>
                    <textarea id="{{data.intid}}FormSeq" readonly="true" rows="5" cols="65">{{data.formated_seq}}</textarea>
                </div>
            </div>
            <div class="row">
                {% for pic in data.pictures %}
                    <figure class="column" data-brna_secondary_structure="{{pic.secondary_structure}}" id="{{data.intid}}{{pic.picname}}">
                        <a href onclick="mypicload(this)">
                            <img class="rnapic" src="{{pic.pic}}" />
                        </a>
                        <figcaption>
                            {{pic.picname}}
                            <input type="checkbox" class="individualStructureCheckbox" id="{{data.intid}}{{data.picname}}StrCheck">
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>

        {% if data.draw_seqview %}

            <div id="sv{{data.intid}}" data-sv_params="{{data.seqviewurl}}" class="sv">
                <button class= "seqviewbtn" onclick="viewRegion(this)" title="View selected Regions">Load Sequence viewer</button>
            </div>

        {% endif %}
        {% if len(data.msgs) != 0 %}
            <div class="warnmsgs">
                {% for msg in data.msgs %}
                    <p class="warn">{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
    {% endmacro %}

{% for ii in input_list %}
    {{ create_onehit(ii) }}
{% endfor %}
{% endblock %}

{% block footer %}
<h3 class="onehit_heading">
    {% if len(foo.logdup) != 0 %}
        Command, parameters and program log
    {% else %}
        Command and parameters
    {% endif %}
</h3>
<div class="footerwrap">
    <p class="header-command"><u>executed command:</u></p>
    <textarea readonly="true" rows="3" cols="65">{{foo.command}}</textarea>
    <p>
        <u>date:</u>
        {% if foo.exec_date %}
            {{strftime("%H:%M:%S %d. %m. %Y", foo.exec_date)}}
        {% else %}
            Unknown date.
        {% endif %}
    </p>
    <div>
        {% if len(foo.logdup) != 0 %}
            <p><u>program log:</u></p>
            {% for s in foo.logdup %}
                <p class="warn">{{s}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <pre><u>parameters:</u>
{% for par in foo.parameters %}
    <u>{{par[0]}}:</u> {{par[1]}}
{% endfor %}
    </pre>
</div>
<div class="bottom-space"></div>
{% endblock %}